.App {
  text-align: center;
}
.p1{
  font-size: 20px;
}
.p2{
  font-size: 10px;
}
.p3{
  font-size: 15px;
}
.img1{
  background-color: #3b3a3a;
  border-radius: 5px;
}
.foodlist{
  display: inline-block;
  margin : 1rem;
  background-color: beige;
  border-radius: 5px;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.abc{
  background-color: blue;
  color: yellow;
  font-size: 50px;
  font-weight: bold;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
